* {
    margin: 0;
    padding: 0;
}

.center-text {
    text-align: center;
}

.line-height {
    line-height: 1.6;
}

button {
    border: none;
    border-radius: 5%;
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    background-color: pink;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

input,
select {
    margin: 0.5rem;
    padding: 0.5rem;
}

.row {
    display: flex;
}

.square {
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

.miss {
    background-color: red;
}

.hit {
    background-color: green;
}

.alert {
    position: fixed;
    z-index: 99;
    height: auto;
    /* width: 70%; */
    max-width: 1000px;
    min-width: 350px;
    background-color: white;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 5px 10px 18px #888888;
    text-align: center;
    padding: 2vw;
    border-radius: 5px;
}

.addShips {
    display: flex;
    flex-direction: column;
}

.addShips h5 {
    font-size: medium;
}

.addShipsForm {
    margin: auto;
    width: 95%;
}

.addShip {
    display: flex;
    flex-direction: column;
}

.boards {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.board {
    width: fit-content;
    margin: auto;
}

.name {
}

@media only screen and (min-width: 768px) {
    .addShipsForm {
        width: fit-content;
    }

    .addShip {
        flex-direction: row;
    }

    .boards {
        flex-direction: row;
    }
}
